!!!
/[if lt IE 7 ] <html class="ie ie6" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 7 ] <html class="ie ie7" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 8 ] <html class="ie ie8" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 9 ] <html class="ie ie9" lang="<haml_loud> I18n.locale </haml_loud>">
/ [if gt IE 9]><!
%html(lang="#{I18n.locale}")
  / <![endif]
  %head(data-hook='inside_head')
    = render(partial: 'spree/shared/head')
  %body.catalog-product-view(class="#{body_class}" data-hook='body' id="#{@body_id || 'default'}")
    .page-wrapper
      = render(partial: 'spree/shared/header')
      %main.page-main#maincontent
        = flash_messages
        = yield
      = yield :templates
      = render('spree/shared/translations')
